.block {
    background-color: transparent; /* Warna latar belakang */
    color: white; /* Warna teks */
    padding: 10px 20px; /* Padding */
    border: none; /* Tanpa border */
    border-radius: 5px; /* Sudut membulat */
    cursor: pointer; /* Kursor berubah saat hover */
    font-size: 30px; /* Ukuran font */
    transition: background-color 0.3s; /* Transisi halus */
}

.block:hover {
    color: black; /* Warna saat hover */
}

.block:active {
    color: gold; /* Warna saat ditekan */
    transform: translateY(2px); /* Efek sedikit turun saat ditekan */
}
